<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <h1>Привет!</h1>
        <h2 style="color:rgb(69, 167, 139)">Загляни на наш сайт! <a href="http://localhost:8000/api/v1/product/">py_21</a> у нас новый товар!</h2>
        <img src="https://images.squarespace-cdn.com/content/v1/55450707e4b0a1a9a9fb549e/1499256819484-NN1G6GUXZWIB0M47KHD3/shophop_socialmediaArtboard+1+copy%404x-8.png" alt="Ошибка">
        <h2>{{ name }}</h2>
    </div>
</body>
</html>